$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App,
.Welcome,
#landing {
  height: 100%;
}

#root {
  width: 100%;
}

body {
  background: $bg-color;
  color: $font-color;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: $font-color;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  &:focus {
    outline: none;
  }
  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
