@import 'reset';

.brand a {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.auth a {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  &:hover {
    color: #fff;
    border-bottom: 2px #fff solid;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-bottom: #008ed6 3px solid;
  opacity: 0.9;
  li {
    display: inline-block;
    margin-left: 30px;
  }
}

.landing {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.description {
  display: flex;
  align-items: center;
  margin: 0 240px;
}

footer {
  height: 60px;
  line-height: 60px;
  border-top: #008ed6 3px solid;
  opacity: 0.8;
  padding-left: 30px;
}
